@model List<Fatec.MobileUI.ViewModels.StudiesAdvanceModel>

@{
    ViewBag.Title = "Aproveitamentos";
	ViewBag.Highlight = "aproveitamentos";
	ViewBag.AdditionalPageInfo = " de estudo";
}

@Html.ValidationSummary()

@foreach (var item in Model)
{
    <div class="post">
        <div class="inner-post">
            <h1 class="post-title post-title-black">
                <span>@item.Disciplina</span>
            </h1>
            <div class="post-meta">
                <p>
                    <span class="post-owner"><strong>Semestre</strong><span class="space">·</span><span class="owner">@item.Semestre</span></span>
                    <br />
                    <span class="post-date"><strong>Turno</strong><span class="space">·</span>@item.Turno</span>
                    <br />
                    <span class="post-owner"><strong>Situação</strong><span class="space">·</span><span class="owner">@item.Situacao</span></span>
                    <br />
                    <span class="post-date"><strong>Parecer do Professor</strong><span class="space">·</span><span class="owner">@item.ParecerDoProfessor</span></span>
                </p>
            </div>
        </div>
    </div>
}