@using Fatec.MobileUI;
@{
    ViewBag.Title = "FATEC PG - Mobile";
	ViewBag.Highlight = "área";
	ViewBag.AdditionalPageInfo = "do aluno";
}
<div class="list-menu box tile-section">
    <ul>
        <li>
            <a href="@Url.Action("Matriculas")" title="Minhas matrículas">
				<div class="tile list-tile bg-color-green">
					<div class="list-tile-content img padding-top-large"><i class="fa-th"></i></div>
				</div>
				<div class="menu-text"><span class="space">·</span>Minhas Matrículas</div>
            </a>
        </li>
        <li>
			<a href="@Url.Action("Avaliacoes")" title="Avaliações">
				<div class="tile list-tile bg-color-green clear-left">
					<div class="list-tile-content img padding-top-large"><i class="fa-smile-o"></i></div>
				</div>
				<div class="menu-text"><span class="space">·</span>Avaliações</div>
			</a>
        </li>
        <li>
			<a href="@Url.Action("Aproveitamentos")" title="Aproveitamentos de estudo">
				<div class="tile list-tile bg-color-green clear-left">
					<div class="list-tile-content img padding-top-large"><i class="fa-retweet"></i></div>
				</div>
				<div class="menu-text"><span class="space">·</span>Aproveitamentos</div>
			</a>
        </li>
        <li>
			<a href="@Url.Action("Historico")" title="Minhas informações">
				<div class="tile list-tile bg-color-green clear-left">
					<div class="list-tile-content img padding-top-large"><i class="fa-clock-o"></i></div>
				</div>
				<div class="menu-text"><span class="space">·</span>Histórico</div>
			</a>
        </li>
        <li>
			<a href="@Url.Action("Requerimentos")" title="Meus requerimentos">
				<div class="tile list-tile bg-color-green clear-left">
					<div class="list-tile-content img padding-top-large"><i class="fa-share"></i></div>
				</div>
				<div class="menu-text"><span class="space">·</span>Requerimentos</div>
			</a>
        </li>
    </ul>
</div>