@model List<TeacherAbsenceModel>

@{
    ViewBag.Title = "Faltas";
    ViewBag.Highlight = "faltas";
    ViewBag.AdditionalPageInfo = " de professores";
}

@Html.ValidationSummary()

@foreach (var item in Model)
{
    <div class="post">
        <div class="inner-post">
            <h1 class="post-title post-title-black">
                @item.Teacher
            </h1>
            <h2 class="post-subtitle">
                @item.Discipline
            </h2>
            <div class="post-meta">
                <p>
                    <span class="post-date">Em: @item.Date.ToString("dd/MM/yyyy")</span>
                    <span class="space">·</span>
                    <span class="post-owner">
                        Turno: <span class="owner">
                            @foreach (var turno in item.Periods)
                            {
                                <span class="space">@turno</span>
                            }
                        </span>
                    </span>
                </p>
            </div>
            <div class="post-summary">
                @item.Details
            </div>
        </div>
    </div>
}
