@using Fatec.MobileUI;
@{
    ViewBag.Title = "FATEC PG - Mobile";
	ViewBag.Highlight = "FATEC";
	ViewBag.AdditionalPageInfo = "Praia Grande";
}

<div class="list-menu box tile-section">
    <ul>
        <li>
            <a href="@Url.Action("Noticias")" title="Avisos">
				<div class="tile list-tile bg-color-blue">
					<div class="list-tile-content img padding-top-large"><i class="fa-comments"></i></div>
				</div>
				<div class="menu-text"><span class="space">·</span>Avisos e notícias</div>
            </a>
        </li>
        <li>
			<a href="@Url.Action("Cursos")" title="Cursos">
				<div class="tile list-tile bg-color-blue clear-left">
					<div class="list-tile-content img padding-top-large"><i class="fa-book"></i></div>
				</div>
				<div class="menu-text"><span class="space">·</span>Cursos</div>
			</a>
        </li>
        <li>
			<a href="@Url.Action("Faltas")" title="Faltas de Professores">
				<div class="tile list-tile bg-color-blue clear-left">
					<div class="list-tile-content img padding-top-large"><i class="fa-power-off"></i></div>
				</div>
				<div class="menu-text"><span class="space">·</span>Faltas de Professores</div>
			</a>
        </li>
        <li>
			<a href="@Url.Action("Reposicoes")" title="Reposições de aula">
				<div class="tile list-tile bg-color-blue clear-left">
					<div class="list-tile-content img padding-top-large"><i class="fa-undo"></i></div>
				</div>
				<div class="menu-text"><span class="space">·</span>Reposições</div>
			</a>
        </li>
        <li>
			<a href="@Url.Action("Sobre")" title="Sobre">
				<div class="tile list-tile bg-color-blue clear-left">
					<div class="list-tile-content img padding-top-large"><i class="fa-info"></i></div>
				</div>
				<div class="menu-text"><span class="space">·</span>Quem Somos</div>
			</a>
        </li>
    </ul>
</div>