@model List<ReplacementModel>

@{
    ViewBag.Title = "Reposições";
    ViewBag.Highlight = "reposições";
    ViewBag.AdditionalPageInfo = " de aulas";
}

@Html.ValidationSummary()

@foreach (var item in Model)
{
    <div class="post">
        <div class="inner-post">
            <h1 class="post-title post-title-black">
                @item.Discipline
            </h1>
            <h2 class="post-subtitle">
                @item.Teacher
            </h2>
            <div class="post-meta">
                <p>
                    <span class="post-date">@string.Format("{0} às {1}", @item.Date.ToString("dd/MM/yyyy"), @item.Date.ToString("HH:mm"))</span>
                    <span class="space">·</span>
                    <span class="post-owner">
                        Turno: <span class="owner">
                            @foreach (var turno in item.Periods)
                            {
                                <span class="space">@turno</span>
                            }
                        </span>
                    </span>
                </p>
            </div>
        </div>
    </div>
}