@using Fatec.MobileUI;
@{
	ViewBag.Title = "";
	ViewBag.Highlight = "FATEC";
	ViewBag.AdditionalPageInfo = "Praia Grande";
}

<div class="menu-container">
    <div class="menu">
        <div>
            <a href="@Url.Action("Index", "Fatec")" title="FATEC Praia Grande">
                <i class="fa-globe"></i>
                <span class="img large">FATEC Praia Grande</span>
                <div class="border-detail bg-color-light-red"></div>
            </a>
        </div>
    </div>

    <div class="menu">
        <div>
            <a href="@Url.Action("Noticias")" title="Avisos e notícias do ceeteps praia grande">
                <i class="fa-tag"></i>
                <span class="img large">Principais Notícias</span>
                <div class="border-detail bg-color-light-red"></div>
            </a>
        </div>
    </div>

    <div class="menu">
        <div>
            <a href="@Url.Action("Index", "Aluno")" title="Área do aluno">
                <i class="fa-user"></i>
                <span class="img large">Área do Aluno</span>
                <div class="border-detail bg-color-light-red"></div>
            </a>
        </div>
    </div>

    <div class="menu">
        <div>
            <a href="@Url.Action("Matriculas", "Aluno")" title="Matrículas">
                <i class="fa-th"></i>
                <span class="img large">Matrículas</span>
                <div class="border-detail bg-color-light-red"></div>
            </a>
        </div>
    </div>

    <div class="menu">
        <div>
            <a href="@Url.Action("Provas", "Aluno")" title="Avaliações">
                <i class="fa-smile-o"></i>
                <span class="img large">Avaliações</span>
                <div class="border-detail bg-color-light-red"></div>
            </a>
        </div>
    </div>

    <div class="menu">
        <div>
            <a href="@Url.Action("Sobre", "Fatec")" title="Horários">
                <i class="fa-calendar"></i>
                <span class="img large">Horários</span>
                <div class="border-detail bg-color-light-red"></div>
            </a>
        </div>
    </div>

    <div class="menu">
        <div>
            <a href="@Url.Action("Noticias", "Estagio")" title="Oportunidades de estágio">
                <i class="fa-briefcase"></i>
                <span class="img large">Estágios</span>
                <div class="border-detail bg-color-light-red"></div>
            </a>
        </div>
    </div>

    <div class="menu">
        <div>
            <a href="/">
                <i class="fa-code"></i>
                <span class="img large">Sobre o site</span>
                <div class="border-detail bg-color-light-red"></div>
            </a>
        </div>
    </div>
</div>
