@using Fatec.MobileUI;
@{
    ViewBag.Title = "FATEC PG - Mobile";
	ViewBag.Highlight = "fatec";
	ViewBag.AdditionalPageInfo = "nas redes sociais";
}
<div class="list-menu box tile-section">
    <ul>
        <li>
            <a href="@UrlBuilder.ToFacebookFatec()" title="Facebook">
				<div class="tile list-tile bg-color-orange">
					<div class="list-tile-content"><img src="~/Content/Images/facebook.png" alt="Facebook" /></div>
				</div>
				<div class="menu-text"><span class="space">·</span>Facebook</div>
            </a>
        </li>
        <li>
			<a href="@UrlBuilder.ToTwitterFatec()" title="Twitter">
				<div class="tile list-tile bg-color-orange clear-left">
					<div class="list-tile-content"><img src="~/Content/Images/twitter.png" alt="Twitter" /></div>
				</div>
				<div class="menu-text"><span class="space">·</span>Twitter</div>
			</a>
        </li>
        <li>
			<a href="@UrlBuilder.ToFlickrFatec()" title="Flickr">
				<div class="tile list-tile bg-color-orange clear-left">
					<div class="list-tile-content"><img src="~/Content/Images/flickr.png" alt="Flickr" /></div>
				</div>
				<div class="menu-text"><span class="space">·</span>Flickr</div>
			</a>
        </li>
        <li>
			<a href="@UrlBuilder.ToLinkedinFatec()" title="LinkedIn">
				<div class="tile list-tile bg-color-orange clear-left">
					<div class="list-tile-content"><img src="~/Content/Images/linkedin.png" alt="LinkedIn" /></div>
				</div>
				<div class="menu-text"><span class="space">·</span>LinkedIn</div>
			</a>
        </li>
        <li>
			<a href="@UrlBuilder.ToImprensa()" title="Imprensa">
				<div class="tile list-tile bg-color-orange clear-left">
					<div class="list-tile-content img padding-top-large">&#xf130;</div>
				</div>
				<div class="menu-text"><span class="space">·</span>Imprensa</div>
			</a>
        </li>
    </ul>
</div>